.modal {

    max-height: 86vh;
    overflow-y: auto;
   
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(39, 38, 39, 0.25);
   
    animation: slide-down 300ms ease-out forwards;
    align-items: center;
    gap: 10px;
  
    font-size: larger;
    top: 10vh;
    margin: 2vh;
    margin-top: 10vh;

    background-color: white;
  }
  
  .btnZatvori {
    top: 5px;
    float: right;
  }
  
  .btnZatvori:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
  }
  
  @media (min-width: 600px) {
    .modal {
      width: 40rem;
      align-self: center;
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .poz {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(94, 91, 91, 0.2);
    align-items: center;
    display: flex;
      justify-content: center;
  }
  
  .modal-body {
    padding: 2vh;
    top: 10vh;
    margin: 3%;
  }
